@model IAsyncEnumerable<Author>

@{
    ViewData["Title"] = "List of Authors";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <ul class="list-group list-group-flush align-items-center">
        @{await foreach (var author in Model)
        {
            <li class="list-group-item">
                <div class="card">
                    <div class="d-flex flex-column card-body">
                        <h5 class="card-title">@author.ToString()</h5>
                        <p>@author.Email</p>
                        @Html.ActionLink("Remove", "Delete", new { id = author.Id }, new { @class = "btn btn-sm btn-outline-danger w-25" })
                        <div class="d-flex flex-column align-items-end card-footer">
                            <small class="text-muted"><strong>Joined on: </strong> 
                                 @author.CreatedAt
                                </small>
                            </div>
                    </div>
                </div>
            </li>
        }}
    </ul>
    @Html.ActionLink("Create New Author", "Create", "Authors", default, new { @class = "btn btn-sm btn-outline-primary w-25" })

</div>